@use '../src/index';
$hero: "../src/img/hero.jpg";

.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.open {
  height: 75vh;
}

.hero.open::before {
  content: "";
  width: 100%;
  height: 75vh;
  background-image: url($hero);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.hero::before {
  content: "";
  width: 100%;
  height: 90vh;
  background-image: url($hero);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.hero__text {
  position: relative;
  grid-column: 1 / 8;
  text-align: center;
  padding: 20px 10px;
  color: index.$color4;
  text-shadow: 2px 2px 2px index.$color3;
}



.hero__button{
  position: relative;
  background: none;
  border: 2px solid index.$color4;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  padding: 15px;
  font-weight: bold;
  color: index.$color3;
  align-self: end;
  &:hover {
    cursor: pointer;
    background: rgba(251, 245, 211, .3);
  }
}

.hero__button--first {
  grid-column: 1 / 3;
  background: index.$color4;
  border: none;
  &:hover {
    cursor: pointer;
    background: #f1e9bd;
  }
}
.hero__button--second {
  grid-column: 3 / 5;

}