@use '../src/index';

.burgerIcon {
    position:absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &:hover {
    cursor: pointer;
  }
}

.burgerIcon__part {
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-color: index.$color3;
  &:nth-child(2) {
    margin: 5px 0;
  }
  &:hover {
    width: 15px;
  }
}

.burgerIcon__part--middle {
  width: 15px;
  &:hover {
    width: 20px;
  }
}

.hidden {
  display: none;
}

.transformed.burgerIcon {
    width: 19.8px;
    height: 19.8px;
}


.transformed.burgerIcon__part--first {
  width: 25px;
  position: absolute;
  top: 8px;
  right: -2px;
  transform: rotate(45deg);
}

.transformed.burgerIcon__part--last {
  width: 25px;
  position: absolute;
  top: 8px;
  right: -2px;
  transform: rotate(-45deg);
}
